.search-row {
  background-color: #222;
  border: 0;
  border-radius: 0;
  color: white;
  vertical-align: middle;
}

.search-row input {
  display: inline;
  width: 90%;
  font-size: large;
}

.find-icon-div {
  display: inline-block;
  text-align: right;
}

.search-row i {
  width: 10%;
}

.list-header {
  font-weight: bold;
  background-color: #aaa;
  border: 0;
}

.template-frame {
  padding: 20px;
  background-color: #555;
  font-size: large;
}
